<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>community-register</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="index.html">HomePage</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link position-relative" href="site/letter.html">Message<span class="badge badge-danger">12</span></a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="site/register.html">SignUp</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="site/login.html">SignIn</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="site/profile.html">Profile</a>
									<a class="dropdown-item text-center" href="site/setting.html">AccountSetting</a>
									<a class="dropdown-item text-center" href="site/login.html">LogOut</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary">Coral</span>
								</div>
							</li>
						</ul>
						<!-- 搜索 -->
						<form class="form-inline my-2 my-lg-0" action="site/search.html">
							<input class="form-control mr-sm-2" type="search" aria-label="Search" />
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<h3 class="text-center text-info border-bottom pb-3">注&nbsp;&nbsp;册</h3>
				<form class="mt-5" method="post" th:action="@{/register}">
					<div class="form-group row">
						<label for="username" class="col-sm-2 col-form-label text-right">Account:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username" name="username" placeholder="enter username!" required>
							<div class="invalid-feedback">
								Account exist!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="password" class="col-sm-2 col-form-label text-right">Password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" name="password" placeholder="enter password!" required>
							<div class="invalid-feedback">
								Password cant be less than 8 digit
							</div>							
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="confirm-password" class="col-sm-2 col-form-label text-right">Confirm password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="confirm-password" placeholder="Retype password!" required>
							<div class="invalid-feedback">
								Password is Nonidentical!
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label text-right">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" name="email" placeholder="enter email!" required>
							<div class="invalid-feedback">
								Email has been registered!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">Register Now</button>
						</div>
					</div>
				</form>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
			<div class="container">
				<div class="row">
					<!-- qr code -->
					<div class="col-4 qrcode">
						<img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 公司信息 -->
					<div class="col-8 detail-info">
						<div class="row">
							<div class="col">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link text-light" href="#">aboutUs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">joinUs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">oponion</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">support</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">contactUs</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">disclaimer</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">links</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-50">
										Company Address：
									</li>
									<li class="nav-item text-white-50">
										Contact：7863515983(phone)&nbsp;&nbsp;&nbsp;&nbsp;jiahao.quan@me.com
									</li>
									<li class="nav-item text-white-50">
										jiahao©2020 All rights reserved
									</li>
									<li class="nav-item text-white-50">
										14055008-4 &nbsp;&nbsp;&nbsp;&nbsp;
										<img src="static.img.404.png" style="width:18px;" />
										serial:19970104
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/register.js}"></script>
</body>
</html>
