<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>Community-Activation</title>
</head>
<body>
	<div>
		<p>
			<b th:text="${email}">xxx@xxx.com</b>, hello!
		</p>
		<p>
			You are registering jiahao's community website,this is activation email,please click
			<a th:href="${url}">this link</a>,
			activate your account!
		</p>
	</div>
</body>
</html>